/* $color-texto1: rgb(173, 18, 44); */
/* DEFINICIONES GENERALES */
a {
  text-decoration: none; }
  a:visited, a:active, a:link {
    color: #192b50;
    text-decoration: none; }
  a:hover {
    color: #ffdb76; }

::-webkit-scrollbar {
  display: none; }

body {
  position: relative;
  background-image: url("../imagenes/fondoVerdeAcuarelaV.jpg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding-top: 60px;
  width: 100%;
  left: 0;
  right: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

.contenedor {
  padding: 100px 100px; }
  .contenedorPrincipal {
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    min-height: 100%;
    margin-bottom: -40px; }
  .contenedor:after {
    content: "";
    display: block; }

.titulo {
  margin: 4px 0px;
  color: honeydew;
  font-family: 'Lobster Two', cursive; }

.subtitulo {
  color: #6dcf9e;
  font-style: italic;
  font-size: 180%;
  text-align: start; }
  .subtitulo--margen {
    margin: 0 auto 28px 40px; }
    .subtitulo--margenGrande {
      margin: 0 auto 28px 60px; }

.parrafo {
  color: #192b50;
  line-height: 1.4;
  text-align: justify; }

/* HEADER */
header {
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4; }

.sol {
  height: 90px;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

.logo {
  width: 50px;
  height: auto;
  padding-right: 15px; }

/* MENU */
.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  background-color: #6dcf9e;
  border-radius: 5px;
  border-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 110%; }
  .navBarMobile {
    display: none; }
  .navBarList {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /*     font-family: 'Lobster Two';  */
    margin: 0 20px 0 0;
    font-size: 120%; }
    .navBarList li {
      padding-left: 36px; }
      .navBarList li:hover .subMenu {
        display: block; }
    .navBarList .subMenu {
      list-style: none;
      position: absolute;
      display: none;
      flex-direction: row;
      background-color: #6dcf9e;
      padding-inline-start: 0;
      border-radius: 5px; }
      .navBarList .subMenu li {
        display: block;
        padding: 15px 6px; }

/* INICIO */
.inicio {
  margin: 0;
  padding: 0; }

.carousel-indicators {
  z-index: 1; }

.carousel-caption {
  background-color: rgba(75, 75, 75, 0.5);
  z-index: 0; }

/* SOBRE MI */
.contenedorSobreMi {
  margin-top: 0;
  background-color: azure; }

.gridGeneral, .experiencia, .formacionGrid {
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding-left: 5%;
  width: 90%; }

.experiencia {
  margin-bottom: 100px;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 100px 150px 100px 50px;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-template-areas: "solCel comienzo"  "solCel correcto" "inquietud inquietud" "vocacion vocacion"; }

.imagenCelular {
  grid-area: solCel;
  max-width: 100%;
  max-height: 100%;
  justify-self: center; }

.comienzo {
  grid-area: comienzo; }

.correcto {
  grid-area: correcto; }

.inquietud {
  grid-area: inquietud; }

.vocacion {
  grid-area: vocacion;
  max-width: 500px;
  justify-self: center; }

.formacionGrid {
  margin-bottom: 30px;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 30px 200px 150px 40px 90px 40px 70px 10px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas: "miFormacion miFormacion" "formacion solNotebook"  "trayectoria solNotebook" "nuevoCamino nuevoCamino" "camino camino" "compromiso compromiso" "premisa premisa" "juntos juntos"; }

.miFormacion {
  grid-area: miFormacion; }

.formacion {
  grid-area: formacion; }

.imagenSolNotebook {
  grid-area: solNotebook;
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
  align-self: center; }

.trayectoria {
  grid-area: trayectoria; }

.nuevoCamino {
  grid-area: nuevoCamino; }

.camino {
  grid-area: camino; }

.compromiso {
  grid-area: compromiso;
  max-width: 500px;
  justify-self: center; }

.premisa {
  grid-area: premisa; }

.juntos {
  grid-area: juntos;
  max-width: 500px;
  justify-self: center; }

/* CARDS DE VALORES */
.principios {
  color: #192b50;
  text-align: justify;
  margin-top: 0px;
  padding: 100px 60px; }

.contenedorCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: #192b50; }
  .card img {
    width: 50px;
    height: 50px; }
  .card h4 {
    font-weight: bolder; }

.cardChica {
  width: 240px;
  height: 240px;
  padding: 15px;
  border-radius: 25px;
  border: 5px solid honeydew;
  background-color: #fff; }

.cardGrande {
  width: 22%;
  height: 400px;
  padding: 15px;
  border-radius: 25px;
  border: 5px solid honeydew;
  background-color: #fff;
  margin-bottom: 20px; }
  .cardGrande:hover {
    transform: scale(1.1, 1.1) translate(0, 20px);
    background-color: rgba(247, 197, 185, 0.959);
    z-index: 3; }

/* COACHING ONTOLOGICO */
.contenedorCoaching {
  background-color: azure;
  margin-bottom: 0px;
  height: 600px; }
  .contenedorCoaching__masInfo {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: azure; }
    .contenedorCoaching__masInfo__parrafo {
      padding: 12px;
      margin-top: 60px;
      border-radius: 5px;
      box-sizing: border-box; }

.accordion {
  margin: 20px 0 100px 0;
  background-color: #fff;
  border-radius: 5px; }

.btn img {
  height: 14px;
  width: auto;
  position: absolute;
  right: 80px; }

.btn-link {
  text-decoration: none;
  color: #192b50; }
  .btn-link:active, .btn-link:link, .btn-link:visited, .btn-link:focus {
    text-decoration: none;
    color: #6dcf9e; }
  .btn-link:hover {
    color: #6dcf9e;
    text-decoration: none; }

.videoCoaching {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 40px 0; }

/* CONTRATA SESIONES */
.contenedorCardsGrid {
  display: grid;
  width: 90%;
  height: 300px;
  margin: 100px 5% 200px 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 200px;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  justify-items: stretch;
  grid-template-areas: "sesiones sesiones sesiones sesiones"  "zen therapy lotus celeste"; }

.sesiones {
  grid-area: sesiones;
  width: 100%; }

.zen {
  grid-area: zen; }

.therapy {
  grid-area: therapy; }

.lotus {
  grid-area: lotus; }

.celeste {
  grid-area: celeste; }

.zen, .therapy, .lotus, .celeste {
  width: 100%; }

.card h5 {
  text-align: center;
  font-size: 115%;
  font-weight: bold;
  color: crimson; }

.botonCompra {
  height: 32px;
  width: 90px;
  font-style: inherit;
  font-family: 'Raleway', sans-serif;
  appearance: none;
  border-style: none;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #192b50;
  border-radius: 16px; }
  .botonCompra:hover {
    background-color: rgba(247, 197, 185, 0.959); }

.contenedorServicios {
  background-color: azure;
  margin-top: 100px; }

/* CONSULTORIO */
.contenedorConsultorio {
  margin-top: 100px; }

.miConsultorio {
  display: flex;
  justify-content: space-around; }

.imagenConsultorio {
  width: 600px;
  height: 0, 45000px; }

/* CONTACTO */
form {
  color: #020f08;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center; }

input, textarea, select {
  border-radius: 5px;
  border-style: double; }

.listaContacto {
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif; }
  .listaContacto li {
    margin: 10px 0; }

.contacto {
  width: 99vw;
  height: 100%;
  background-image: url("../imagenes/fondoPastel.jpg");
  background-size: cover; }

.boton {
  width: 80px;
  height: 30px;
  padding: 5px; }

/* PIE DE PAGINA */
footer {
  /*     font-family: 'Roboto Condensed', sans-serif; */
  color: #192b50;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin: 0; }

.contenedorPrincipal:after {
  height: 70px; }

.footer {
  background-color: #6dcf9e; }
  .footerContacto {
    position: relative;
    bottom: 20px; }

.listaFooter {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0; }
  .listaFooter li {
    padding: 0 8px;
    display: inline-block; }

.logoChico {
  width: auto;
  height: 25px; }

/* MOBILE */
@media (max-width: 767px) {
  .contacto {
    max-width: initial;
    margin: 0;
    padding: 0;
    background-size: auto; }
  .navBar {
    display: none; }
    .navBarMobile {
      display: flex;
      background-color: #6dcf9e;
      top: 0;
      z-index: 2;
      padding: 12px;
      border-radius: 5px;
      border: 2px solid honeydew;
      position: fixed;
      width: 100%; }
      .navBarMobile .fas {
        font-size: 24px;
        padding: 12px 0 0 8px; }
    .navBarList {
      padding: 0;
      margin: 0;
      flex-direction: column;
      font-size: 120%; }
      .navBarList li {
        padding: 5px 0; }
    .navBarContent {
      display: none;
      flex-direction: column;
      width: auto;
      height: auto;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      top: 10px;
      left: 10px; }
    .navBarOpen, .navBarClose {
      width: 10%;
      display: inline-block; }
    .navBarCheck {
      width: 100%;
      display: flex;
      flex-flow: wrap; }
  .sol {
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    font-size: 80%; }
  .logo {
    height: 30px;
    width: auto;
    padding: 0 0 0 15px; }
  .navBarInput:checked ~ header {
    position: absolute; }
  .navBarInput, .navBarClose {
    display: none; }
  .navBarInput:checked ~ .navBarClose {
    display: block; }
  .navBarInput:checked ~ .navBarOpen {
    display: none; }
  .navBarInput:checked ~ .navBarContent {
    display: flex; }
  /* CONTACTO MOBILE */
  textarea {
    width: 200px;
    height: 100px; }
  .listaContacto {
    margin: 0;
    padding-inline-start: 20px; }
    .listaContacto li {
      padding: 0; }
  /* FOOTER MOBILE */
  .listaFooter {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4px; }
  .footerContacto {
    height: auto;
    bottom: 0; } }

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .contacto {
    max-width: initial;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: auto; }
  .navBar {
    display: none; }
    .navBarMobile {
      display: flex;
      background-color: #6dcf9e;
      top: 0;
      z-index: 2;
      padding: 12px;
      border-radius: 5px;
      border: 2px solid honeydew;
      position: fixed;
      width: 100%; }
      .navBarMobile .fas {
        font-size: 24px;
        padding: 12px 0 0 8px; }
    .navBarList {
      padding: 0;
      margin: 0;
      flex-direction: row;
      font-size: 120%; }
      .navBarList li {
        padding: 5px 15px; }
    .navBarContent {
      display: none;
      flex-direction: column;
      width: auto;
      height: auto;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      top: 10px;
      left: 10px; }
    .navBarOpen, .navBarClose {
      width: 10%;
      display: inline-block; }
    .navBarCheck {
      width: 100%;
      display: flex;
      flex-flow: wrap; }
  .sol {
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    font-size: 80%; }
  .logo {
    height: 30px;
    width: auto;
    padding: 0 0 0 15px; }
  .navBarInput:checked ~ header {
    position: absolute; }
  .navBarInput, .navBarClose {
    display: none; }
  .navBarInput:checked ~ .navBarClose {
    display: block; }
  .navBarInput:checked ~ .navBarOpen {
    display: none; }
  .navBarInput:checked ~ .navBarContent {
    display: flex; }
  /* CONTACTO TABLET */
  textarea {
    width: 200px;
    height: 100px; }
  .listaContacto {
    margin: 0;
    padding-inline-start: 20px; }
    .listaContacto li {
      padding: 0; }
  /* FOOTER TABLET */
  .listaFooter {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4px; }
  .footerContacto {
    height: auto;
    position: fixed;
    bottom: 0; } }
