/* COACHING ONTOLOGICO */
.contenedorCoaching {
    background-color: $color-damero;
    margin-bottom: 0px;
    height: 600px;
    &__masInfo {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: $color-damero;
        &__parrafo {
            padding: 12px;
            margin-top: 60px;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }
}

.accordion {
    margin: 20px 0 100px 0;
    background-color: $color-fondo;
    border-radius: 5px;
}

.btn {
    img {
        height: 14px;
        width: auto;
        position: absolute;
        right: 80px;}
    &-link {
        text-decoration: none;
        color: $color-texto2;
        &:active, &:link, &:visited, &:focus {
            text-decoration: none;
            color: $color-navBar;
        }
        &:hover {
            color: $color-navBar;
            text-decoration: none;
        }
    }
}

.videoCoaching {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 40px 0;   
}
