/* CONSULTORIO */
$size: 600px;

.contenedorConsultorio {
    margin-top: 100px;
}

.miConsultorio {
    display: flex;
    justify-content: space-around;
}

.imagenConsultorio {
    width: $size;
    height: 0,75*$size;
}