/* PIE DE PAGINA */
footer {
/*     font-family: 'Roboto Condensed', sans-serif; */
    color: $color-texto2;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: 0;
}

.contenedorPrincipal:after {
    height: 70px; 
}

.footer {
    background-color: $color-navBar;
    &Contacto {
        position: relative;
        bottom: 20px;
    }
}

.listaFooter {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
    li {
        padding: 0 8px;
        display: inline-block;
    }
}

.logoChico {
    width: auto;
    height: 25px;
}