/* MOBILE */
@media (max-width: 767px) {
    .contenedor {
        padding: 40px 30px;
    }

    .inicio {
        padding: 0;
    }

    .contacto {
        max-width: initial;
        margin: 0;
        padding: 0;
        background-size: auto;
    }

    .contenedorSobreMi {
        display: none;
    }

    .navBar {
        display: none;
        &Mobile {
            display: flex;
            background-color: $color-navBar;
            top: 0;
            z-index: 2;
            padding: 12px;
            border-radius: 5px;
            border: 2px solid $color-borde;
            position: fixed;
            width: 100%;
            .fas {
                font-size: 24px;
                padding: 12px 0 0 8px;
            }
        }  
        &List {
            padding: 0;
            margin: 0;
            flex-direction: column;
            font-size: 120%;
            li {
                padding: 5px 0;
            }
        }
        &Content {
            display: none;
            flex-direction: column;
            width: auto;
            height: auto;
            padding: 10px;
            border-radius: 10px;
            position: relative;
            top: 10px;
            left: 10px;
        }
        &Open, &Close {
            width: 10%;
            display: inline-block;
        }
        &Check {
            width: 100%;
            display: flex;
            flex-flow: wrap;
        }
    } 

    .sol {
        flex-direction: row;
        width: 90%;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        font-size: 80%;
    }

    .logo {
        height: 30px;
        width: auto;
        padding: 0 0 0 15px;
    }

    .navBarInput:checked ~ header {
        position: absolute;
    }

    .navBarInput, .navBarClose {
        display:none;
    }

    .navBarInput:checked ~ .navBarClose {
        display: block;
    }

    .navBarInput:checked ~ .navBarOpen {
        display: none;
    }

    .navBarInput:checked ~ .navBarContent {
        display: flex;
    }


    /* CARROUSEL MOBILE */

    .carousel-caption {
        font-size: 80%;
    }

    /* VALORES MOBILE */

    .cardGrande {
        @include cards (100%, auto, 15px, 25px, 5px solid $color-borde, $color-fondo);
        margin-bottom: 20px;
    }

    /* SESIONES MOBILE */
    .contenedorCardsGrid {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 20px;
        .sesiones {
            .subtitulo {
                margin-bottom: 20px;
            }
        }
            
    }

    .btn {
        img {
            right: 48px;}
    }

    .cardChica {
        @include cards (100%, auto, 15px, 25px, 5px solid $color-borde, $color-fondo);
    }


    /* CONSULTORIO MOBILE */

    .miConsultorio {
        flex-direction: column;
        grid-row-gap: 20px;
        margin: 30px 0;
    }
    .imagenConsultorio {
        width: 300px;
        height: 225px;
    }

    .ubicacion {
        width: 300px;
        height: 225px;
    }
    
    /* CONTACTO MOBILE */
    .contenedorFormulario {
        padding: 0px;
        margin: 100px 0 20px 0;
    }

    textarea {
        width: 160px;
        height: 60px;
    }

    .listaContacto {
        font-size: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-inline-start: 0px;
        li {
            padding: 0;
        }
    }

    /* FOOTER MOBILE */
    .listaFooter {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4px;
    }

    .footerContacto {
        height: auto;
        bottom: 0;
    }  
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    .contacto {
        max-width: initial;
        height: 100%;
        margin: 200px 0 0 0;
        padding: 0;
        background-size: auto;
    }

    .navBar {
        display: none;
        &Mobile {
            display: flex;
            background-color: $color-navBar;
            top: 0;
            z-index: 2;
            padding: 12px;
            border-radius: 5px;
            border: 2px solid $color-borde;
            position: fixed;
            width: 100%;
            .fas {
                font-size: 24px;
                padding: 12px 0 0 8px;
            }
        }
        &List {
            padding: 0;
            margin: 0;
            flex-direction: row;
            font-size: 120%;
            li {
                padding: 5px 15px;
            }
        }
        &Content {
            display: none;
            flex-direction: column;
            width: auto;
            height: auto;
            padding: 10px;
            border-radius: 10px;
            position: relative;
            top: 10px;
            left: 10px;
        }
        &Open, &Close {
            width: 10%;
            display: inline-block;
        }
        &Check {
            width: 100%;
            display: flex;
            flex-flow: wrap;
        }
    } 

    .sol {
        flex-direction: row;
        width: 90%;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        font-size: 80%;
    }

    .logo {
        height: 30px;
        width: auto;
        padding: 0 0 0 15px;
    }

    .navBarInput:checked ~ header {
        position: absolute;
    }

    .navBarInput, .navBarClose {
        display:none;
    }

    .navBarInput:checked ~ .navBarClose {
        display: block;
    }

    .navBarInput:checked ~ .navBarOpen {
        display: none;
    }

    .navBarInput:checked ~ .navBarContent {
        display: flex;
    }

    .contenedorSobreMi {
        display: none;
    }

    /* VALORES TABLET */
    .cardGrande {
        @include cards (100%, auto, 15px, 25px, 5px solid $color-borde, $color-fondo);
        margin-bottom: 20px;
    }

    /* CONSULTORIO TABLET */
    .imagenConsultorio {
        width: 300px;
        height: 225px;
    }

    .ubicacion {
        width: 300px;
        height: 225px;
    }


    /* CONTACTO TABLET */
    textarea {
        width: 280px;
        height: 160px;
    }

    .listaContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-inline-start: 20px;
        li {
            padding: 0;
        }
    }

    /* FOOTER TABLET */
    .listaFooter {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4px;
    }

    .footerContacto {
        height: auto;
        position: fixed;
        bottom: 0;
    }
   
}